
 



.about{
    $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
    $transition: 0.6s $cubic;
    $size: 40px;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
 
    .bg_links {
       width: $size;
       height: $size;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgba(#000000, 0.2);
       border-radius: 100%;
       backdrop-filter: blur(5px);
       position: absolute;
       background-image: url("logoLMsolo.png");
    }
 
    .logo {
       width: $size;
       height: $size;
       z-index: 9;
       background-image:"logoLMsolo.png";
       background-size: 50%;
       background-repeat: no-repeat;
       background-position: 10px 7px;
       opacity: 0.9;
       transition: all 1s 0.2s ease;
       bottom: 0;
       right: 0;
    }
 
    .social {
       opacity: 0;
       right: 0;
       bottom: 0;
 
       .icon {
          width: 100%;
          height: 100%;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          display: flex;
          transition: all 0.2s ease, background-color 0.4s ease;
          opacity: 0;
          border-radius: 100%;
       }
 
       &.portfolio {
          transition: all 0.8s ease;
 
          .icon {
             background-image: url("https://rafaelalucas91.github.io/assets/codepen/link.svg");
          }
       }
 
       &.dribbble {
          transition: all 0.3s ease;
          .icon {
             background-image: url("https://rafaelalucas91.github.io/assets/codepen/dribbble.svg");
          }
       }
 
       &.linkedin {
          transition: all 0.8s ease;
          .icon {
            background-image:url("logoLMsolo.png") ;
          }
       }
    }
 
    &:hover {
       width: 105px;
       height: 105px;
       transition: all $transition;
 
       .logo {
          opacity: 1;
          transition: all 0.6s ease;
          background-image:url("logoLMsolo.png") ;
       }
 
       .social {
          opacity: 1;
 
          .icon {
             opacity: 0.9;
          }
 
          &:hover {
             background-size: 28px;
             .icon {
                background-size: 65%;
                opacity: 1;
             }
          }
 
          &.portfolio {
             right: 0;
             bottom: calc(100% - 40px);
             transition: all 0.3s 0s $cubic;
             .icon {
                &:hover {
                   background-color: #698fb7;
                }
             }
          }
 
          &.dribbble {
             bottom: 45%;
             right: 45%;
             transition: all 0.3s 0.15s $cubic;
             .icon {
                &:hover {
                   background-color: #ea4c89;
                }
             }
          }
 
          &.linkedin {
             bottom: 0;
             right: calc(100% - 40px);
             transition: all 0.3s 0.25s $cubic;
             .icon {
                &:hover {
                   background-color: #0077b5;
                }
             }
          }
       }
    }
 }
 
 $dark-purple: #220bf1;
 $mid-purple: #652c2c;
 $light-purple: #e2a9e5;
 $dark-grey: #383838;
 $bg: #fff0d0;
 
 body {
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
 }
 #container {
    //background-color: black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
 }
 
 #container span {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: ease-in-out;
    background-image:url("logoLMsolo.png") ;
 }
 #container span:after {
    content: "";
    width: 130%;
    height: 130%;
    //top: 80px;
    background-color: inherit;
    position: absolute;
    border-radius: 300px;
    opacity: 0;
    background-image:url("logoLMsolo.png") ;
 }
 
 #container span:before {
    content: "";
    width: 140%;
    height: 140%;
    background-color: inherit;
    position: absolute;
    border-radius: 300px;
    opacity: 0.1; background-image:url("logoLMsolo.png") ;
 }
 
 #container span:nth-child(1) {
    left: 0px;
    background-color: $light-purple;
    background-image: url("logoLMsolo.png");
    animation: load1 2s infinite alternate;
 }
 
 #container span:nth-child(2) {
    background-color: $mid-purple;
    animation: load2 2s infinite alternate;
    z-index: 1;
 }
 #container span:nth-child(3) {
    background-color: $dark-purple;
    right: 0px;
    animation: load3 2s 0.3s infinite alternate;
 }
 
 @keyframes load1 {
    0% {
       left: 0;
       width: 40px;
       height: 40px;
       background-color: $light-purple;
       background-image: url("logoLMsolo.png");
    }
    20% {
       width: 25px;
       height: 25px;
       background-color: $light-purple;
       background-image: url("logoLMsolo.png");
    }
    30% {
       width: 35px;
       height: 20px;
       background-image: url("logoLMsolo.png");
    }
    35% {
       background-color: $mid-purple; background-image: url("logoLMsolo.png");
    }
 
    50% {
       width: 30px;
       height: 30px;
       background-color: $mid-purple;
       background-image: url("logoLMsolo.png");
    }
 
    90%,
    100% {
       left: calc(50% - 15px);
       width: 30px;
       height: 30px;
       background-color: $mid-purple; background-image: url("logoLMsolo.png");
    }
 }
 
 @keyframes load3 {
    0% {
       right: 0;
       width: 40px;
       height: 40px;
       background-color: $dark-purple;
    }
    20% {
       width: 25px;
       height: 25px;
       background-color: $dark-purple;
    }
    30% {
       width: 35px;
       height: 20px;
    }
 
    50% {
       width: 30px;
       height: 30px;
       background-color: $mid-purple;
    }
 
    90%,
    100% {
       right: calc(50% - 15px);
       width: 30px;
       height: 30px;
       background-color: $mid-purple;
    }
 }
 
 @keyframes load2 {
    0% {
       width: 40px;
       height: 40px;
    }
 
    40% {
       width: 30px;
       height: 30px;
    }
 
    80% {
       width: 40px;
       height: 40px;
    }
 
    100% {
       width: 30px;
       height: 30px;
    }
 }
